html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #d05c2e;
  padding-top; .5em;
  overflow: hidden;
}

h1 {

  color: white;
  text-align: center;
  font-size: 2rem;
  margin: 0.1;
  padding-bottom; .1em;
}

h2 {
  background-color: #dc8252;
  text-align: center;
  padding: 20px;
  color: white;
  margin: 0;
}

h3 {
  text-align: center;
  font-size: 1.5em;
}

body {
  margin: 0;
}

p {
  margin-left: 10px;
  line-height: 1.5em;
}

ol {
  list-style-type: none;
  font-family: serif;
  list-style-type: none;
  background-color: #d05c2e;
  display: block;
  padding: 0;
}

nav ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav {
  text-align: center;
  display: inline-block;
}

nav li {
  display: inline-block;
  width: 33.3;
  text-align: center;
  border: 1px solid orange;
}

nav a {
  display: inline-block;
  width: 33.3%;
  padding: 0.5em 0.75em;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 0 0.2em 0;
  text-align: center;
}

nav a:hover {
  background-color: #cc3865;
}

ul {
  float: left;
  width: 33%;
  list-style: none;
  padding: 15px;
}

.inset-left {
  float: left;
  width: 40%;
  margin-right: 15px;
  margin-top: 15px;
  margin-left: 15px;
}

.inset-left-2 {
  float: right;
  width: 40%;
  margin-left: 15px;
  margin-bottom: 15px;
}

.inset-left-3 {
  float: right;
  width: 40%;
  margin-left: 15px;
  clear: right;
}

.corn {
  width: 100%;
}

figcaption {
  background-color: #dc8252;
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

figure {
  float: left;
  margin: 0;
  width: 50%;
}

img {
  width: 100%;
}

div {
  background-color: #dc8252;
  overflow: hidden; /* Remind the element to wrap its floated children */
  padding-bottom: 20px;
}

main {
  background-color: red;
  float: left;
  /*width: calc(75% - 2rem);*/
  width: 75%;
  padding: 1rem;
}

aside {
  background-color: green;
  float: left;
  /*width: calc(25% - 2rem);*/
  width: 25%;
  padding: 1rem;
}
