html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #cd5b34;
  padding-top; .5em;
  overflow: hidden;
}

.grain-left {
  width: 7%;
  float: left;
  margin: .5;
  margin-top: .9em;
}
.grain-right {
  width: 7%;
  float: right;
  margin-top: .9em;
}

h1 {
  text-align: center;
  margin: .1;
  color: white;
  padding-bottom: .1em;
}


h2 {
  background-color: #dc8252;
  text-align: center;
  padding: 20px;
  color: white;
  margin: 0;
  clear: right;
  width: 100%;
}

h3 {
  text-align: center;
  font-size: 1.5em;
}

body {
  margin: 0;
}

p {
  margin-left: 10px;
  line-height: 1.5em;
}

nav ol{
  overflow: hidden;
  margin: 0;
  width: 100%;
  padding: 0;
}

nav {
  text-align: center;
  display: block;
}

nav li {
  float: left;
  display: inline-block;
  width: 33.3%;
  border: 1px solid orange;
  padding: .5em;
  text-align: center;
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
}

nav li:hover {
  background-color: #a93f35;
}

.fl-container {
  display:block;
  width: 100%;
  list-style: none;
  padding: 15px;
  -webkit-padding-start: 0;
}

.fl-container li {
  display: block;
  clear: both;
}

.peanuts,
.beans,
.lentils {
  width: 30%;
  float:left;
  margin-bottom:2em;
}



.fl-container p {
  width: 65%;
  float: right;
  margin: 0;
  margin-left: 5%;
}

.inset-left {
  float: left;
  width: 40%;
  margin-right: 15px;
  margin-top: 15px;
  margin-left: 15px;
}

.inset-left-2 {
  float: right;
  width: 40%;
  margin-left: 15px;
  margin-bottom: 15px;
}

.inset-left-3 {
  float: right;
  width: 40%;
  margin-left: 15px;
  clear: right;
}

.corn {
  width: 100%;
}

figcaption {
  background-color: #dc8252;
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

figure {
  float: left;
  margin: 0;
  width: 50%;
}

img {
  width: 100%;
}

div {
  background-color: #dc8252;
  overflow: hidden; /* Remind the element to wrap its floated children */
  padding-bottom: 20px;
  width: 100%;
}

main h1 {
  color: #e0a998;
  font-size: 1em;
}
